/* Box Sizing
--------------------------------------------- */

html,
input[type="search"] {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Wrap
--------------------------------------------- */

.wrap {
	//max-width: map-get( $breakpoints, 'desktop' );
	max-width: map-get( $breakpoints, 'content-width' );
    margin: 0 auto;
	padding-left:  32px; //($grid-gap / 2);
	padding-right: 32px; //($grid-gap / 2);
	@include clearfix;

	@include media('>tablet') {
		padding-left:  $wrap_edge; //($grid-gap / 2);
		padding-right: $wrap_edge; //($grid-gap / 2);
	}
}



.narrow .site-inner .wrap {
	max-width: map-get( $breakpoints, 'narrow' );
}


.site-inner {

	.singular.content & > .wrap {
		max-width: map-get( $breakpoints, 'content-width' );
	}
}

.site-header .wrap,
.ea-top-bar .wrap {
	padding-left: $wrap_edge / 2;
	padding-right: $wrap_edge / 2;

}
/* outer color */

.site-container {
	background: #ccc;
}
/* Page Border 
--------------------------------------------- */
.ea-page-border {
	max-width: $theMax;
	margin: 0 auto;
	background: #fff;

	@include media('>#{$theMax}') {
		border-left: 1px solid #999;
		border-right: 1px solid #999;

		box-shadow: 0px 1px 5px #333;
	}
}

/* Screen Reader Text
--------------------------------------------- */

.genesis-skip-link {
	display: none;
}

.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus  {
	clip: auto !important;
	height: auto;
	width: auto;
	display: block;
	font-size: 1em;
	font-weight: bold;
	padding: 15px 23px 14px;
	color: #333;
	background: #fff;
	z-index: 100000; /* Above WP toolbar. */
	text-decoration: none;
	box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
}

/* Sidebar Layouts
--------------------------------------------- */

@include media("<medium") {

//	.sidebar-primary {
//		display: none;
//	}
}

@include media(">=medium") {

	.content-sidebar {

		.site-main {
			float: left;
			width: 768px / 1168px * 100%;
		}

		.sidebar-primary {
			float: right;
			width: 335px / 1168px * 100%;
		}

		@supports( display: $grid ) {
			.content-area {
				display: grid;
				grid-template-columns: 1fr 360px;
				grid-column-gap: 112px;
			}

			.site-main {
				float: none;
				width: 100%;
				max-width: $content-width;
			}

			.sidebar-primary {
				float: none;
				width: 100%;
			}
		}
	}
}
