/* Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widget-area > *:first-child {

  h2 {
	margin-bottom: 0;
  }

  hr {
	  margin-top: 0;
  }
} 

.footer-widgets {
	background: brand-color( 'black' );
	padding: 40px 0 10px;
	position: relative;
	color: $white;

	.entry-header {
		margin-top: 0;  // override css for .single and .singlular .entry-header
	}
	h2 {
		color: map-get($brand_colors, 'cyan');
		font-size: to-em(24px);
	}
	hr::before {
		background-color: map-get($brand_colors, 'cyan');
	}
	ul {
		margin-bottom: 30px;
	}

	p {
		font-size: to-em(15px);
	}

	li {
		list-style-type: none;
		margin-bottom: 12px;
	}

	.widget-title {
		color: $white;
		font-size: 16px;
		font-weight: 700;
		text-transform: uppercase;
	}

	a {
		color: $white;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}

		svg {
			fill: $white;
			@include icon-position( 20px );
			margin-right: 12px;
		}
	}

	/* Feature Post Widget */
	.featuredpost article {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-flow: row nowrap;
		margin-bottom: 0.8em;
		border-bottom: 1px solid map-get($brand_colors, 'cyan' );

		&:last-child {
			border-bottom: 0;
		}

		.entry-header {
			padding-right: 1em;
			margin-bottom: 0;
			text-align: left;
		}

		.entry-title, .entry-meta {
			font-size: to-em(16px);
		}
		.entry-title a {
			color: map-get( $brand_colors, 'cyan');
			text-decoration: underline;

			&:hover, &:focus {
				color: $white;
			}
		}

		img {
			margin: 0 auto;
		}

		& > *:first-child {
			flex: 1 1 25%;
			min-width: 63px;
			max-width: 88px;
			padding-bottom: 0.6em;
		}
		& > *:last-child {
			padding-left: 2em;
			flex: 1 1 75%;
			min-width: 150px;
			padding-bottom: 0.6em;
		}

		h4 {
			margin-top: 0;
		}
	}

	/* Menu */

	.menu {
		
		li {
			margin-bottom: 0;
			color: map-get($brand_colors, 'cyan' );
			&::before {
				content: '\00bb\00a0';
				
			}
		}

		a {
			color: map-get($brand_colors, 'cyan' );
			text-decoration: underline;
			font-size: to-em(16px);

			&:hover, &:focus {
				color: $white;
			}
		}
	}

	.footer-widgets-1, .footer-widgets-2, .footer-widgets-3 {
		overflow: hidden;
		width: 100%;
		margin-bottom: 1.4em;
	}

	@include media(">533px") {

		.footer-widgets-1 {
			float: left;
			width: calc( 50% - 8px );
		}

		.footer-widgets-2 {
			float: right;
			width: calc( 50% - 8px );
		}

		.footer-widgets-3 {
			overflow: hidden;
			width: 100%;
		}

	}

	@include media(">=1190px") {
		.wrap {
			@include columns( 3, 'div', 100px );
		}

	}
}

/* Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	border-top: 1px solid map-get($brand_colors, 'cyan' );
	background: brand-color( 'black' );
	color: rgba( $white, .75 );
	font-size: to-em(15px);
	padding: 22px 0;
	text-align: center;

	.wrap > *:last-child {
		margin-bottom: 0;
	}

	a {
		color: map-get( $brand_colors, 'cyan');
		text-decoration: underline;

		&:hover, &:focus {
			color: $white;
		}
	}

	.footer-links a + a {
		margin-left: 12px;
	}

	.backtotop {
		background: rgba( $black, .75 );
		border-radius: 3px;
		display: inline-block;
		line-height: 20px;
		padding: 10px;
		text-decoration: none;

		svg {
			fill: $white;
			margin-left: 4px;
			vertical-align: middle;
		}

		&:hover {
			background: rgba( $black, 1 );
		}
	}

	@include media(">=tablet") {
		text-align: left;

		.footer-left {
			float: left;

			& > *:last-child {
				margin-bottom: 0;
			}
		}

		.copyright,
		.footer-links {
			display: inline-block;
			margin-right: 20px;
		}

		.backtotop {
			float: right;
		}
	}

}

.footer-logos {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;
	margin-left: -2em;
}

.footer-logos > * {
	margin-left: 2em;
	margin-bottom: 2em;
	 flex: 1 1 calc(50% - 2em);

}

.footer-widgets-2 {
	& > section {
		padding-right: 1em;
	}
	& > section:first-child {
		padding-right: 0;
	}
}