/* Utility classes */

$steps: 5;

.mt-0 { margin-top: 0 !important;}
.mb-0 { margin-bottom: 0 !important;}


@for $i from 1 through $steps {

    .mt-#{$i} {
        margin-top: pow( $ratio, $i ) * 1rem !important;
    }
    .mb-#{$i} {
        @if $i>3 {
            $mm: pow( $ratio, $i) * 1rem;
            margin-bottom: $mm - $mm * 0.3 !important;
            @include media('>tablet') {
                margin-bottom: $mm !important;
            }
        } @else {
         margin-bottom: pow( $ratio, $i ) * 1rem !important;
        }
    }
}


@for $i from 1 through $steps {
    .pt-#{$i} {
        padding-top: pow( $ratio, $i ) * 1rem !important;
    }
    .pb-#{$i} {
        padding-bottom: pow( $ratio, $i ) * 1rem !important;
    }
    .pl-#{$i} {
        padding-left: pow( $ratio, $i ) * 1%;
    }
    .pr-#{$i} {
        padding-right: pow( $ratio, $i ) * 1%;
    }
}

@each $color, $hex in $brand-colors {

  .text-#{$color} {
      color: #{$hex};
  }

}

.pullquote {
    font-size: to-em(29px);
    line-height: 1.66;
    margin-bottom: 48px;
    color: map_get( $brand-colors, 'blue' );
    font-style: italic;
}